.board-wrapper {
    @boardPadding: 2.5%;
    padding-left: @boardPadding;
    padding-right: @boardPadding;

    .board {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 420px;

        // Maybe we need a height media query?

        .board-space {
            /* We could be fancy and set the number of columns in JS
                since there's a BOARD_WIDTH constant available there. */
            @boardSpaceDimension: unit((100 - @boardPadding * 2)/12, vw);
            width: @boardSpaceDimension;
            height: @boardSpaceDimension;

            @minBoardSpaceDimension: 23.75px;
            min-width: @minBoardSpaceDimension;
            min-height: @minBoardSpaceDimension;

            @maxBoardSpaceDimension: 35px;
            max-width: @maxBoardSpaceDimension;
            max-height: @maxBoardSpaceDimension;

            &.actual {
                background-color: lightgreen;
                border: 1px darkgreen solid;

                &.first-row {
                    border-top-width: 2px;
                }

                &.last-row {
                    border-bottom-width: 2px;
                }

                &.first-col {
                    border-left-width: 2px;
                }

                &.last-col {
                    border-right-width: 2px;
                }

                &.highlight {
                    background-color: darken(lightgreen, 20%);
                }

                &.goal {
                    background-color: cyan;
                    color: #faf73c;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;

                &.current-player:hover, &.possibly-moving-space {
                    background-color: #cc5;
                }

                &.possible-valid-move {
                    background-color: #991;

                    .glyphicon {
                        visibility: hidden;
                    }

                    &.possible-valid-move:hover {
                        .glyphicon {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}
