.control-bar {
    @spacing: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: @spacing;

    background-color: #ccc;
}

.host {
    color: white;
}
.opponent {
    color: black;
}

.captured {
    display: flex;
    flex-direction: column;
}
