.control-bar {
    @spacing: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: @spacing;
    padding-left: @spacing;
    padding-right: @spacing;
}

.board {
    display: flex;
    flex-wrap: wrap;

    .board-space {
        @boardDimension: 50px;
        width: @boardDimension;
        height: @boardDimension;
        background-color: #ccc;
        border: 1px #666 solid;

        &.actual {
            background-color: lightgreen;
            border: 1px darkgreen solid;
        }
    }
}
