.control-bar {
    @spacing: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: @spacing;
    padding-left: @spacing;
    padding-right: @spacing;
}
